<% provide(:title, "Top") %>

<div class="wrapper">
  <section class="static-container">
    <h1 class="main-title">Attendance App!!</h1>
    <div class="btn-area">
      <%= link_to "Signup", "#", class: 'btn btn-signup' %>
      <%= link_to "Login", "#", class: 'btn btn-login' %>
    </div>
  </section>
</div>
