@import "reset";

html {
  font-size: 100%;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: #F4F5F7;
  color: #383e45;
  font-size: 0.9rem;
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #fff;
}

.app-title {
  font-size: 1.7rem;
  font-weight: bolder;
  padding: 10px 0;
}

.main {
  padding: 0 10%;
  text-align: center;
  flex: 1;
}

.wrapper {
  margin: 50px auto 50px auto;
  max-width: 960px;
}

.btn {
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  width: 180px;
  border-radius: 4px;
  border: none;
}

td, th {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

td {
  padding: 10px 0;
}

// flash_messages
#error_explanation {
  background-color: #fa0800;
  border: solid 2px #fa0800;
  color: #fff;
}

.error-list {
  background-color: #f3f3f3;
  color: #000000;
  padding: 10px 0;
}

.alert {
  width: 60%;
  margin: 40px auto 0;
  padding: 20px;
  border-radius: 5px;
}

.alert-alert {
  background-color: #f5dfdd;
  border: solid 2px #fa0800;
  color: #AF493B;
}

.alert-success {
  background-color: #DDFFDD;
  border: solid 2px #00FF00;
  color: #008800;
}

.alert-notice {
  background-color: #DDFFDD;
  border: solid 2px #00FF00;
  color: #008800;
}

// header
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #55c500;
  padding: 0 10%;
  position: sticky;
}

#header ul {
  display: flex;
  padding: 10px;
}

#header li {
  margin-left: 40px;
  color: #fff;
}

// static_page
.static-container {
  margin-top: 120px;
  padding: 60px 30px;
  border: solid 2px #55c500;
  border-radius: 5px;
  background-color: #fff;
}

.main-title {
  font-size: 3rem;
}

.btn-area {
  margin-top: 20px;
}

.btn-login {
  background-color:#0033FF;
  padding: 10px 20px;
  margin-left: 30px;
}

.btn-signup {
  background-color: #55c500;
  padding: 10px 20px;
}

.btn-edit {
  background-color: #383e45;
}

.btn-destroy {
  background-color: #AF493B;
  margin-top: 10px;
}

.btn-form-login {
  background-color:#0033FF;
}

// attendance_index_page
.attendance-wrapper {
  display: flex;
  padding-top: 100px;
}

.attendance-area {
  width: 30%;
  height: 40%;
  padding: 30px 20px;
  border: solid 2px #55c500;
  border-radius: 5px;
  background-color: #fff;
}

.attendance-status-area {
  width: 70%;
  margin-left: 40px;
  font-size: 1.2rem;
}

.current-month {
  font-size: 2rem;
}

.current-time {
  font-size: 1.5rem;
}

.btn-work {
  background-color: #5bcaff;
}

// footer
#footer {
  width: 100%;
  background-color: #2f3232;
  color: #fff;
  text-align: center;
  padding: 30px 10%;
  position: sticky;
}

// sign_in sign_up
.devise-frame {
  background-color: #fff;
  border-radius: 20px;
  height: auto;
  width: 600px;
  margin: 60px auto 0 auto;
  padding: 30px 40px;
}

.devise-title {
  margin-bottom: 2rem;
}

.form {
  border: 1px solid #383e45;
  width: 40%;
  margin-bottom: 1.5rem;
}
